version: "3.8"
services:
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: practice
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data: {}
